{% extends 'index.html' %}
{% block content %}
<table CELLPADDING=20>
	<tr>
		<td>
			<div class="card" style="width:300px ">
			  <img class="card-img-top" src="../media/img.jpg" alt="Card image">
			  <div class="card-body">
			    <h4 class="card-title">Sneha Thanagala</h4>
			    <p class="card-text">Am Studying B.tech in stream of Computer Science at IIIT Nuzvid</p>
			    <a href="#" class="btn btn-primary">See Profile</a>
			  </div>
			</div>
		</td>
		<td>
			<div class="card" style="width:300px">
			  <img class="card-img-top" src="../media/img.jpg" alt="Card image">
			  <div class="card-body">
			    <h4 class="card-title">Vennam Saisuma</h4>
			    <p class="card-text">Am Studying B.tech in stream of Computer Science at IIIT Basar</p>
			    <a href="#" class="btn btn-primary">See Profile</a>
			  </div>
			</div>
		</td>
	</tr>
</table>
{% endblock content %}